@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./images/intro.gif");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.c1,.c2{
    margin: 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid grey;

}

.container button{

    background-color: rgb(23, 61, 175);
    color: white;
    border-radius: 5px;
    margin: 1px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}


.tables, .tablesa{
    display: flex;
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);

}

.table1, .table2, .table3, .table1a, .table2a, .table3a{
  
    width: 25%;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);

}


td, th{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    background-color: white;
    
}

.condition{
    display: block;
    width: 60px;
    margin-left: 50%;
}
@media only screen and (min-width: 862px) {
    body{
        background-image: url("./images/intro.gif");
        background-repeat: no-repeat;
        background-size: cover;
    }

}

@media only screen and (max-width: 862px) {

    body{
        background-image: url("./images/intro2.gif");
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    .tables, .tablesa{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        background-color: darkgray;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    
    }

    .table1, .table2, .table3, .table1a, .table2a, .table3a{
  
        width: 70%;
        margin: 50px auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    
    }



}

@media only screen and (max-width: 525px) {

    body{
        background-image: url("./images/intro2.gif");
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    .tables, .tablesa{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        background-color: darkgray;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    
    }

    .table1, .table2, .table3, .table1a, .table2a, .table3a{
  
        width: 70%;
        margin: 50px auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    
    }


    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        background-color: black;
        border-radius: 10px;
        border: 2px solid grey;
    
    }
    

}

