@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
}
.container{
    position: absolute;
    top: 10px
}
.tv{

    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.intro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 56px;
    left: 332px;
    width: 880px;
    height: 500px;
}

.reporter{

    position: absolute;
    z-index: 20;
    top: 215px;
    right: 20px;
    width: 400px;
    height: 500px;
}

.containerC{
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid grey;

}

.containerC button{

    background-color: rgb(23, 61, 175);
    color: white;
    border-radius: 5px;
    margin: 1px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.containerD{
    display: flex;
    position: absolute;
    bottom: 5px;
    right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid grey;
    z-index: 30;
}

.containerD button{

    background-color: rgb(23, 61, 175);
    color: white;
    border-radius: 5px;
    margin: 1px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.details .tv{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.table1{
  
    position: absolute;
    top: 150px;
    left: 350px;

}

.table2{
  
    position: absolute;
    top: 150px;
    left: 600px;

}

.table3{
  
    position: absolute;
    top: 150px;
    left: 950px;

}

td, th{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    background-color: white;
    
}

.table1a{
  
    position: absolute;
    top: 150px;
    left: 350px;

}

.table2a{
  
    position: absolute;
    top: 150px;
    left: 650px;

}

.table3a{
  
    position: absolute;
    top: 150px;
    left: 940px;

}

